<h1>Indicator List</h1>

<form (ngSubmit)="submitForm()">
  <label for="countryCode">Country Code:</label>
  <input type="text" id="countryCode" name="countryCode" [(ngModel)]="countryCode" required>
  <button type="submit">Submit</button>
</form>

<div *ngIf="indicators">
  <h2>Indicators</h2>
  <ul>
    <li *ngFor="let dataPoint of indicators">
        <strong>ID:</strong> {{ dataPoint.indicator.id }} <br>
        <strong>Value:</strong> {{ dataPoint.indicator.value }} <br>
        <strong>Country:</strong> {{ dataPoint.country.value }} <br>
        <strong>Date:</strong> {{ dataPoint.date }} <br>
        <strong>Value:</strong> {{ dataPoint.value }}
      </li>
  </ul>
</div>
