<h1>Formulário de envio (Consulta Indicadores Econômicos)</h1>

<form (ngSubmit)="submitForm()" #form="ngForm">
  <label for="countryCode">Country Code:</label>
  <input type="text" id="countryCode" name="countryCode" [(ngModel)]="countryCode" required pattern="{{ countryCodePattern.source }}" #countryCodeInput="ngModel" (input)="clearErrorMessage()">
  <div *ngIf="countryCodeInput?.invalid && (countryCodeInput?.dirty || countryCodeInput?.touched)">
    <div class="error-message" *ngIf="countryCodeInput?.errors?.['required']">Country Code is required.</div>
    <div class="error-message" *ngIf="countryCodeInput?.errors?.['pattern']">{{ countryCodeErrorMessage }}</div>
  </div>
  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>

<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

<div *ngIf="indicators">
    <h2>Tabela de Indicadores (WorldBank):</h2>
    <table class="indicator-table">
      <thead>
        <tr>
          <th>Índice de incidência de pobreza (por dia)</th>
          <th>Country</th>
          <th>Year</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataPoint of indicators">
          <td>{{ dataPoint.indicator.value }}</td>
          <td>{{ dataPoint.country.value }}</td>
          <td>{{ dataPoint.date }}</td>
          <td>{{ dataPoint.value }}</td>
        </tr>
      </tbody>
    </table>
  </div>

